
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alien" class="org.example.Alien" autowire="byType" >

<!--    <bean id="alien" class="org.example.Alien" autowire="byName" >-->
        		<property name="age" value="21"/>
<!--        		<property name="com" ref="com1"/>-->
<!--        if property is mentioned explicitly then com1 Desktop will be printed-->
    </bean>

    <bean id="com" class="org.example.Laptop" primary="true">
<!--        primary bean is used to solve the error when two beans of same type will be existing -->

    </bean>

    <bean id="com1" class="org.example.Desktop">

    </bean>



</beans>